input.margin {
    margin-right: 4px;
    margin-top: 4px;
}

input,
button {
    font-family: inherit;
    font-size: 0.9em;
}

body {
    margin: 0px;
    font-family: Cabin, sans-serif !important;
}

.game {
    display: flex;
    flex-direction: column;

    min-height: calc(100vh - 10px);
}

.main {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    margin-top: 10px;
}

.play {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    flex-grow: 1;
}

.playColumn {
    padding: 10px;
}

.summary {
    width: 200px;
}

.summary dl {
    margin: 0px;
}

.mainColumn {
    flex-grow: 1;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 10px;
}

.footer2 {
    align-self: baseline;

    display: flex;
    flex-direction: row;
    justify-items: baseline;
}

.faded {
    padding-right: 10px;
    color: gray;
}

.faded a {
    color: inherit;
}
