.actionChooser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actionList {
    display: flex;
    flex-wrap: wrap;
}

.actionCard {
    display: flex;
    justify-content: center;

    border-radius: 5px;
    border: solid 1px black;

    padding: 10px;
    margin: 5px;

    min-width: 110px;
    width: 8vw;
    max-width: 200px;

    height: fit-content;
}

.actionButton {
    display: flex;
    justify-content: center;

    padding: 10px;
    margin: 5px;
    min-width: 110px;
    width: 8vw;
    max-width: 200px;
}

.action {
    width: 100%;
}

.action h1 {
    font-size: large;
    margin: 0;
    text-align: center;
}

.action table {
    text-align: left;
    width: 90%;
}

.actionPhases {
    text-align: left;
}

.actionPhases dl {
    margin-bottom: 0;
}

.actionPhases dd {
    margin-left: 1em;
}

.actionText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.actionText p {
    margin: 0;
}
