.battleLog {
    display: flex;
    flex-direction: column;

    padding: 21px;
    max-height: 400px;
}

.battleLog h1 {
    font-size: medium;
}

.battleLogList {
    width: 15vw;

    flex-shrink: 1;

    overflow-y: auto;
    min-width: 180px;
}

.battleLogList p {
    margin: 2px 0;
}
