.fightField {
    display: flex;

    margin: 15px;
    width: max-content;

    border-style: solid solid solid none;
    border-width: 1px;
    border-color: gray;
}

.zone {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 4em;

    border-left: 1px solid gray;
}
