.pillBarContainer {
    width: fit-content;
}

.pillBarContainer p {
    margin: 0.2em;
}

.pillBar {
    height: 1em;
    border-radius: 1em;
    border: 1px solid gray;
}

.pillBarValue {
    position: relative;
    top: -1px;

    border: 1px solid;
    border-radius: 1em;
    height: 1em;

    transition: width 0.5s;
}

.pillBarValue div {
    float: inherit;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 0.8em;
}
